.todo {
    margin-bottom: 10px;
}

.h3 {
    text-align: center;
    font-size: 3rem;
    margin: 3px;
}

.textos {
    font-size: 1.5rem;
    text-align: justify;
}

.emogis {
    font-size: 15px;

}

.parra {
    text-align: center;
    display: block;
    font-size: 1.5rem;
    margin: 10px;
}

.sectores-Industria {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 600px;
}

.card-container {
    width: 45%;
    height: 100%;
}

.centro {
    width: 100%;
    height: 100%;
}

.contenido-centro {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}

.carta {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
}

.carta-cara {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 20px;
}

.carta-cara h3 {
    color: #fff;
    z-index: 30;
}

.carta-frente {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.carta-atras {
    background-color: #315ee3;
    transform: rotateY(180deg);

}

.carta-atras-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0px 30px;
    height: 100%;
    width: 100%;
}

.tituloIndustrias {
    font-size: 1.5rem;
    color: #fff;
    margin: 1px;
    font-weight: bold;
}

.img-carta-atras {
    width: 100%;
    height: 100%;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 1%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 1%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.rotate:hover .carta {
    transform: rotateY(180deg);
}

.industria {
    background-image: url(https://admin.divisiondigital.co/uploads/userfiles/744/files/Inicio/QuienesSomos/industria.jpg);
}

.comercial {
    background-image: url(https://admin.divisiondigital.co/uploads/userfiles/744/files/Inicio/QuienesSomos/comercial.jpg);
}

.residencial {
    background-image: url(https://admin.divisiondigital.co/uploads/userfiles/744/files/Inicio/QuienesSomos/residencial.jpg);
}

.construccion {
    background-image: url(https://admin.divisiondigital.co/uploads/userfiles/744/files/Inicio/QuienesSomos/construccion.jpg);
}

.todo p {
    margin: 0;
    color: #fff;
    padding: 10px;
}

.img {
    height: 100%;
    width: 100%;
}

@media (max-width: 1150px) {
    .sectores-Industria {
        flex-direction: column;
        align-items: center;
        height: 900px;
    }

    .textos {
        font-size: 0.70rem;
    }

    .card-container {
        width: 90%;
        height: 50%;
    }

    .contenido-centro {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .card-container {
        width: 85%;
    }

    .contenido-centro {
        width: 85%;
    }
}

@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}